/* General Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #6889b4;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

html.dark-mode, body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

#about {
    margin-top: 100px; 
}

/* Container */
.container {
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    position: relative;
    text-align: center;
}

a {
    color: #007bff; /* change the color to blue */
}

/* Header */
header {
    background: linear-gradient(135deg, #6b73ff, #000dff);
    color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background 0.3s, color 0.3s;
}

header.dark-mode {
    background: linear-gradient(135deg, #000dff, #6b73ff);
}

header h1 {
    margin: 0;
    font-size: 2rem;
    letter-spacing: 2px;
}

#logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 250px;
}

#logo-text {
    position: absolute;
    bottom: 28%; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

#dark-mode-toggle {
    background-color: #000dff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

#dark-mode-toggle:hover {
    background-color: #6b73ff;
}

#dark-mode-toggle.dark-mode {
    background-color: #6b73ff;
    color: #000dff;
}

#dark-mode-toggle.dark-mode:hover {
    background-color: #000dff;
    color: #fff;
}

/* Navigation */
nav {
    margin-top: 10px;
    position: relative;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.navbar li {
    display: inline;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #fff;
    color: #000dff;
    border-radius: 5px;
}

.navbar a.dark-mode {
    color: #bbb;
}

.navbar a.dark-mode:hover {
    background-color: #333;
    color: #fff;
}


/* laptop specific styles */

@media (max-width: 769px) {
    .menu-toggle {
        display: none;
    }
    .media-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    .instagram-section, .spotify-section {
        flex: 1;
    }
    #logo-text {
        bottom: 10vh;
    }
}

/* Tablet Specific Styles */

@media (max-width: 768px) {
    .container {
        padding: 0 2rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    #logo {
        width: 150px;
    }

    #logo-text {
        font-size: 2rem;
    }

    .navbar {
        display: none;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        background: #000dff;
        padding: 8px;
        border-radius: 8px;
        color: #fff;
        font-size: 1rem;
        border: none;
        transition: background 0.3s, color 0.3s;
    }

    .menu-toggle.dark-mode {
        background: #ffffff;
        color: #000000;
    }

    .navbar.active {
        display: block;
        align-items: center;
        background: #000dff;
        width: 50%;
        position: absolute;
        top: 50px;
        border: 2px solid #ffffff;
        border-radius: 8px;
    }

    .navbar li {
        width: 100%;
        padding: 10px 0; 
        margin: 0;
    }

    .navbar a {
        display: block;
        width: 100%;
        padding: 15px; 
        text-align: center;
        color: #fff;
        box-sizing: border-box;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        margin: 0;
    }

    .navbar a:hover {
        background-color: #333;
        color: #fff;
    }

    .navbar li:last-child a {
        border-bottom: none;
    }
}

/* Mobile Specific Styles */
@media (max-width: 767px) { 
    nav {
        display: fixed;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; /* Add margin to create more vertical space */
        padding-top: 20px; /* Add padding to create space above the navbar */
    }

    .navbar {
        display: fixed;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        position: absolute;
    }

    #logo-text {
        bottom: 20vh;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        background: #000dff;
        padding: 8px;
        border-radius: 8px;
        color: #fff;
        font-size: 1rem;
        border: none;
        transition: background 0.3s, color 0.3s;
    }

    .menu-toggle.dark-mode {
        background: #ffffff;
        color: #000000;
    }

    .navbar.active {
        display: block;
        align-items: center;
        background: #000dff;
        width: 50%;
        position: absolute;
        top: 50px;
        border: 2px solid #ffffff;
        border-radius: 8px;
    }

    .navbar li {
        width: 100%;
        padding: 10px 0; 
        margin: 0;
    }

    .navbar a {
        display: block;
        width: 100%;
        padding: 15px; 
        text-align: center;
        color: #fff;
        box-sizing: border-box;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        margin: 0;
    }

    .navbar a:hover {
        background-color: #333;
        color: #fff;
    }

    .navbar li:last-child a {
        border-bottom: none;
    }
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
    .media-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 20px;
    }

    .instagram-section, .spotify-section {
        flex: 1;
    }
}

/* Main Content */
main {
    flex: 1;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85.9em;
    transition: background-color 0.3s, color 0.3s;
}
/* Rounded Corners */
.welcome-box,
section,
.modal-content {
    border-radius: 10px;
}

main.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    flex-wrap: wrap;
    gap: 20px;
}

.welcome-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background: #fff;
    border: 2px solid #000dff;
    border-radius: 10px;
    text-decoration: none;
    color: #000dff;
    font-size: 1.2rem;
    text-align: center;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    position: relative;
}

.welcome-box.dark-mode {
    background: #555;
    color: #fff;
    border: 2px solid #6b73ff;
}

.welcome-box img {
    position: absolute;
    top: -1em;
    left: 4em;
}

.welcome-box:hover {
    transform: scale(1.05);
    background-color: #000dff;
    color: #fff;
}

/* Sections */
section {
    padding: 2rem 1rem;
    margin: 1rem 0;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

section.dark-mode {
    background: #333;
    color: #fff;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem 0;
    background: linear-gradient(135deg, #6b73ff, #000dff);
    color: #fff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    flex-shrink: 0;
    transition: background 0.3s, color 0.3s;
    margin-top: auto;
}

footer.dark-mode {
    background: linear-gradient(135deg, #000dff, #6b73ff);
}

/* Buttons */
button {
    background-color: #000dff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #6b73ff;
}

button.dark-mode {
    background-color: #6b73ff;
    color: #000dff;
}

button.dark-mode:hover {
    background-color: #000dff;
    color: #fff;
}

/* Modal Styles */
.modal {
    display: none;
    position: flex;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

.modal.show {
    display: block;
}

.modal.dark-mode {
    background-color: rgba(255, 255, 255, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.modal-content.dark-mode {
    background-color: #333;
    color: #fff;
    border: 1px solid #bbb;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, 
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close.dark-mode {
    color: #bbb;
}