body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5; 
    color: #333; 
}

.dark-mode {
    background-color: #121212; 
    color: #ffffff; 
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

header {
    background: linear-gradient(135deg, #6b73ff, #000dff);
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically, if necessary */
    gap: 1rem;
}

#dark-mode-toggle {
    display: block;
    margin: 0 auto; /* Center the button horizontally within its flex container */
}

section {
    padding: 2rem 1rem;
    margin: 1rem 0;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.dark-mode section {
    background: #1e1e1e; 
    color: #ffffff; 
}

section:hover {
    transform: translateY(-5px); 
}

h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.dark-mode h2 {
    color: #ffffff;
}

p {
    font-size: 1rem;
    color: #555;
}

.dark-mode p {
    color: #bbbbbb;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0.75rem 0;
    font-size: 1rem;
}

ul li a {
    color: #000dff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #6b73ff;
}

.dark-mode ul li a {
    color: #6b73ff;
}

footer {
    text-align: center;
    padding: 0.75rem 0;
    background: linear-gradient(135deg, #6b73ff, #000dff);
    color: #fff;
    position: sticky;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

.dark-mode footer {
    background: linear-gradient(135deg, #6b73ff, #000dff);
}

@media (min-width: 600px) {
    body {
        padding: 5rem; /* Larger padding for larger screens */
    }

    section {
        padding: 3rem 2rem;
        margin: 2rem 0;
    }

    h2 {
        font-size: 1.75rem;
    }

    p {
        font-size: 1.1rem;
    }

    ul li {
        font-size: 1.1rem;
    }
}

@media (max-width: 600px) {
    body {
        padding: 0.5rem; /* Smaller padding for mobile devices */
    }

    section {
        padding: 0.5rem;
        margin: 0.5rem 0;
    }

    h2 {
        font-size: 1.25rem;
    }

    p {
        font-size: 0.9rem;
    }

    ul li {
        font-size: 0.9rem;
    }
}
